body{
  background-color: black;
}

#center{
  width: 80%;
  height: 400px;
  color: #bed8ff;
  font-size: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

#center ul{
  margin: 10px;
  list-style: none;
  display: flex;
  
}

#center li {
  margin-left: 10%;
  
}

#center ul .material-symbols-outlined{
  font-size: 150px;
  padding: 30px 0; 
}

.space{
  margin-right: 100px;
}

#footer{
  width: 80%;
  height: 50px;
  background-color: #182544;
  color: #bed8ff;
  font-size: 30px;
  border-radius: 20px;
  margin-left: 10%;
  display: flex;
  padding: .1em .4em;
  
}

#footer p{
  margin: auto 0;

}

